<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content: About Me page -->
<main >
    <%- include partials/content.ejs %>
    <div class="container2">    
        <br><br><br><br><br><br><h1 class="fw-bold" id="lgreen"> About Me</h1><br><br><br>
        <img src="/Assets/images/scan2.jpg" alt="myPicture" class="rounded float-start" width="20%" hspace="30">
        <h3 id="introduce">Hi, I'm Gaeun Kim. I am in Software Engineering Technology - Artificial Intelligence at Centennial College.
            <br><br><br>
            I have always been interested in artificial intelligence. 
            I enjoy studying how far they have developed and what they function. 
            My goal is to study and develop artificial intelligence that can help people.
        </h3><br><br><br><br>
        
        <!--Download Resume-->
        <a href="/Assets/Resume.pdf" download="" class="btn btn-outline-info">Click to download my resume</a>
    </div>
    
</main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>